@media screen (max-width: 600px) {
  .app {
    width: 200px;
   }
}

.center-column {
  display: flex;
  flex-direction: column;
}

.app {
  width: 600px;
  margin: auto;
}

.common {
  padding: 5px;
}

.fields {
  display: flex;
}

.fields label {
  margin: 5px;
}

.form button {
  margin: 5px;
}

.list {
  display: flex;
  width: 80%
}

.list-item {
  flex-grow: 3;
}

.list-buttons {
  justify-content: flex-end;
}

