$blue: #0066ff;
$gradient: #112233;
//$text: #ffeedd;

.form {
  box-shadow: 3px 3px 3px #ccc;
}

.form h2 {
  background: $blue;
}

// create a series of multi-colored backgrounds
@for $i from 1 through 10 {
  $new-color: $gradient * $i;
  .background#{$i} {
    background-color: $new-color;
    color: invert($new-color);
  }
}
